body
{
  background-color: #e3b16f;
}

#h1
{
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
}

#h2
{
  color: black;
  text-align: center;
}

#line
{
  width = 3000px;
  height = 1000px;
}
